body {
    background: linear-gradient(to right, #2a292c, #3d3e3e, #5f5f5f);
    font-family: 'Poppins', sans-serif;
    user-select: none;
}


#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    margin-bottom: 30%;
    margin-left:7%;
    padding: 40px;
    background-color:rgb(234, 234, 138);
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    text-align: center;
    padding-bottom: 150px;
}

#form hr {
    position: absolute;
    width: 25%;
    height: 2px;
    top:36%;
    align-items: center;
    border: 0 none;
    background-color: black;
}


#form2 {
    position:absolute;
    width: 405px;
    margin: 20vh auto 0 auto;
    top:0%;
    left: 55%;
    padding: 40px;
    background-color:rgb(195, 195, 233);
    border-radius: 4px;
    font-size: 12px;
}

#form2 h1 {
    text-align: center;
    padding-bottom: 150px;
}

#form2 hr {
    position: absolute;
    width: 77%;
    height: 2px;
    top:36%;
    left:12%;
    align-items: center;
    border: 0 none;
    background-color: black;
}



#form3 {
    position:absolute;
    top: 80%;
    left:7%;
    width: 400px;
    padding: 40px;
    background-color:rgb(243, 176, 176);
    border-radius: 4px;
    font-size: 12px;
}

#form3 h1 {
    text-align: center;
    padding-bottom: 150px;
}

#form3 hr {
    position: absolute;
    width: 77%;
    height: 2px;
    top:40%;
    align-items: center;
    border: 0 none;
    background-color: black;
}



#form4 {
    position:absolute;
    top: 80%;
    left:55%;
    width: 405px;
    padding: 40px;
    background-color:rgb(189, 246, 189);
    border-radius: 4px;
    font-size: 12px;
}

#form4 h1 {
    text-align: center;
    padding-bottom: 150px;
}

#form4 hr {
    position: absolute;
    width: 77%;
    height: 1.5px;
    top:38%;
    left:12%;
    align-items: center;
    border: 0 none;
    background-color: black;
}
